<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forest Fire Prevention</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>

  <body>
    <div class="container">
      <img src="../static/forest.png" alt="" />
      <div><h1>Forest Fire Prediction</h1></div>
      <div><p>Predict the Probablity of Forest Fire Occurance</p></div>
      <form action="/predict" method="POST">
        <div class="row">
          <input type="text" name="temp" placeholder="Temperature  °C" />
          <input type="text" name="oxy" placeholder="Oxygen %" />
          <input type="text" name="humid" placeholder="Humidity %" />
        </div>

        <div><button type="submit" value="pred">Predict</button></div>
      </form>
      <div class="res">{{message}}</div>
      <div class="res2">{{result}}</div>
    </div>
  </body>
</html>
